<?xml version="1.0"?>
<assembly>
  <id>plugin</id>
  <formats>
    <format>zip</format>
  </formats>
  <includeBaseDirectory>false</includeBaseDirectory>
  <files>
    <file>
      <source>${basedir}/src/main/plugin-metadata/plugin-descriptor.properties</source>
      <filtered>true</filtered>
    </file>
    <file>
      <source>${basedir}/src/main/plugin-metadata/plugin-security.policy</source>
      <filtered>true</filtered>
    </file>
  </files>
  <dependencySets>
    <dependencySet>
      <useProjectArtifact>true</useProjectArtifact>
      <useTransitiveFiltering>true</useTransitiveFiltering>
      <excludes>
        <exclude>org.elasticsearch:elasticsearch</exclude>
        <exclude>com.github.stephenc.jcip:jcip-annotations</exclude>
        <exclude>com.google.code.findbugs</exclude>
        <exclude>io.github.openfeign</exclude>
        <exclude>org.aspectj</exclude>
        <exclude>log4j</exclude>
        <exclude>com.fasterxml.jackson.core:jackson-core</exclude>
      </excludes>
<!--      <includes>-->
<!--        <include>-->
<!--          com.phonepe.platform.http:http-client-->
<!--        </include>-->
<!--      </includes>-->
    </dependencySet>
  </dependencySets>
</assembly>
